@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
.blink::after {
  animation: typing 0.6s step-end infinite alternate;
}
@keyframes typing {
  50% {
    border-color: transparent;
  }
}
